* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "PFHandBookPro", Arial, Helvetica, sans-serif;
    line-height: 1.2;
    overflow-x: hidden;
    position: relative;
    min-width: 320px;
}

.loading {
    overflow: hidden;
    height: 100vh;

    .preloader {
        opacity: 1;
        visibility: visible;
    }

    .cssload-preloader {
        display: block;
    }
}