.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-header-logo {
	font-size:(295.59/10)*1rem;
	width:(501.75/295.59)*1em;
}
.icon-icon-download {
	font-size:(30.7/10)*1rem;
	width:(32/30.7)*1em;
}
.icon-sec5-icon1 {
	font-size:(71/10)*1rem;
	width:(69/71)*1em;
}
.icon-sec5-icon2 {
	font-size:(69/10)*1rem;
	width:(73/69)*1em;
}
.icon-sec5-icon3 {
	font-size:(69/10)*1rem;
	width:(79/69)*1em;
}
.icon-sec5-icon4 {
	font-size:(69.03/10)*1rem;
	width:(77.03/69.03)*1em;
}
