section.sec.sec1
    include header
    div.container
        p.m.sec1__title.
            Сдавайте автомобили в аренду
        h1.sec1__heading.
            Заработайте<br> 760 000 рублей
        p.l.italic.sec1__subtitle.
            уже в первый год после открытия
        +button("Узнать как", false)
    img(src="img/sec1-car.png", alt="").sec1__car
    img(src="img/decor-circles1.png", alt="").sec1__decor.sec1__decor_left
    img(src="img/decor-circles2.png", alt="").sec1__decor.sec1__decor_right
    div.sec1__bottom-decor
        svg(viewBox="0 0 100 100" preserveAspectRatio="none").sec1__bottom-svg.sec1__bottom-svg_small
            path(d="M 0,0 l 100,100 -100,0 z")
        svg(viewBox="0 0 100 100" preserveAspectRatio="none").sec1__bottom-svg.sec1__bottom-svg_big
            path(d="M 0,100 L 100,0 100,100 z")