- var sec2List = ["Владельцам автомобилей нужна подменная машина на время ремонта", "Туристам машина на прокат позволит сэкономить деньги, время и даст возможность посетить много мест без спешки и с удобством", "Большинству компаний не выгодно содержать собственный автопарк для поездок сотрудников. И они обращаются к аренде автомобилей.", "Кроме того, автомобиль может понадобиться командированным сотрудникам"]

section.sec.sec2
    div.container.color-white
        p.m.sec2__title
            span.bold.
                Машина - не роскошь
            |, а средство комфортного<br> передвижения по городу
        div.sec2__row
            div.sec2__col.sec2__col_img
                img(src="img/sec2-img.jpg", alt="").sec2__img
            div.sec2__col.sec2__col_list
                each item in sec2List
                    ul.sec2__list
                        li.sec2__list-item
                            p.s.mb0.
                                #{item}
        div.sec2__note
            img(src="img/sec2-icon.png", alt="").sec2__note-icon
            p.bold.mb0.
                Во множестве случаев аренда автомобиля - верное решение