section.sec.sec3
    div.sec3__top
        div.container
            p.m.sec3__subtitle.
                В компании “Автопрокат №1”
            h2.bold.sec3__title.mb0.
                любой желающий<br> может взять автомобиль
            p.m.italic.sec3__text.
                на срок от одного дня
            img(src="img/sec3-women.png", alt="").sec3__women-mobile
            div.sec3__content
                div.sec3__list
                    div.sec3__list-circle
                    img(src="img/sec3-hand.png", alt="").sec3__list-img-decor
                    div.sec3__list-item
                        div.sec3__list-img-wrap
                            img(src="img/sec3-icon1.png", alt="").sec3__list-img
                        p.s.
                            Минимальный<br> пакет документов
                    div.sec3__list-item
                        div.sec3__list-img-wrap
                            img(src="img/sec3-icon2.png", alt="").sec3__list-img
                        p.s.
                            от 1200 руб/день<br> на оплату услуг
                div.sec3__note.s.
                    и машина в распоряжении клиента
                p.s.thin.mb2.
                    Мойка, ремонт, обслуживание автомобиля<br> и решение дорожных вопросов<br> уже включены в стоимость
                div.sec3__button-wrap
                    +button("Скачать презентацию", false)
        div.sec3__decor
            img(src="img/sec3-hand.png", alt="").sec3__decor-img
        img(src="img/decor-circles2.png", alt="").sec3__decor-bubbles
        img(src="img/sec3-women.png", alt="").sec3__women
    div.sec3__bottom
        div.container
            p.m
                span.bold.
                    Сейчас в нашем автопарке более 50 машин,<br>
                |а филиалы открыты в пяти городах



