section.sec.sec4
    div.sec4__top
        div.container.color-white
            p.s.sec4__subtitle.
                Средняя выручка каждого филиала<br> составляет 500 000 - 700 000 рублей в месяц
            p.m.italic.mb1.
                Мы создали франшизу «Автопрокат №1» для тех, кто хочет избежать типичных ошибок при открытии и свести риски к минимуму
            div.sec4__banner
                h2.bold.mb0.sec4__banner-text.
                    Хотите открыть свой автопрокат и повторить наши результаты? Мы поможем!
            div.sec4__note
                p.m.italic.mb0.
                    Кроме того, мы поможем сэкономить на инвестициях
                h2.mb0.sec4__note-sum.
                    от 500 000 рублей
                p.m.italic.mb0.
                    проверено на пяти собственных филиалах
    div.sec4__bottom