section.sec.sec6
    img(src="img/decor-circles2.png", alt="").sec6__decor
    div.container
        img(src="img/sec6-img.png", alt="").sec6__car
        p.m.sec6__subtitle.
            Начните сегодня
        div.sec6__row
            div.sec6__row-item.sec6__row-item_text
                h2.bold.color-red.
                    cдайте первый автомобиль в аренду уже через 37 дней
                div.sec6__img-wrap.sec6__img-wrap_mobile
                    img(src="img/sec6-img.jpg", alt="").sec6__img
                    p(data-from="1" data-to="37").sec6__img-text.sec6__timer.mb0.
                        37
                p.m.italic.sec6__text.
                    Для открытия потребуется 450 000 рублей на приобретение франшизы, и около 1, 3 млн рублей на автомобили и офис
                p.s.sec6__note.
                    Прогнозируемые цифры доходности<br> вы можете увидеть в финансовой модели
                +link("Скачать фин.модель", true)(class="" href="doc/fm.xlsx" target="_blank")
            div.sec6__row-item.sec6__row-item_img
                div.sec6__img-wrap.sec6__img-wrap_pc
                    img(src="img/sec6-img.jpg", alt="").sec6__img
                    p(data-from="1" data-to="37").sec6__img-text.sec6__timer.mb0.
                        37
    //svg(viewBox="0 0 100 100" preserveAspectRatio="none").sec6__bg
        path(d="M 0,0 L 100,0 0,100 z")