section.sec.sec7
    svg(viewBox="0 0 100 100" preserveAspectRatio="none").sec7__bg
        path(d="M 0,0 L 100,0 0,100 z")
    div.container.color-white
        div.sec7__row
            div.sec7__col
                p.s.sec7__subtitle.
                    Следуйте нашим рекомендациям<br> и окупайте ваши вложения
                p.m
                    |Заработайте свой первый<br> миллион 
                    span.thin.
                        на прокате машин
                h3.bold.sec7__title.
                    Сделайте первый шаг - отправьте заявку или позвоните нам!
            div.sec7__col
                include bottom-form